
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Welcome {{userinfo['name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
        <div>            
            For full transparency, here is the information I got from github:
            <pre>{{userinfo_pretty}}</pre>
            <pre>{{userinfo}}</pre>
            <a class="pure-button pure-button-primary" href="/party/new">Create game</a>
            <a class="pure-button pure-button-primary" href="/party/join">Join game</a>
        </div>
</div>
{% endblock %}