{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List open games{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="">
        <table>
            <tr>
                <th>
                    Game name
                </th>
                <th>
                    Players
                </th>
                <th>
                    Join?
                </th>
            </tr>
            {% for game in games %}
            <tr>
                <td>
                    {{ game.name }}
                </td>
                <td>
                    {{ game.players }}
                </td>
                <td>
                    {{ game.join_link }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}