{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List open games{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>
                        Game name
                    </th>
                    <th>
                        # players
                    </th>                    
                    <th>
                        Players
                    </th>
                    <th>
                        Join?
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for game in gameroster %}
                <tr>
                    <td>
                        {{ game['name'] }}
                    </td>
                    <td>
                        {{ game['players'] | count }}
                    </td>
                    <td>
                        {% for player in game['players'] %}{{ player }}{% if not loop.last %},{% endif %}{% endfor %}
                    </td>                    
                    <td>
                        <a class="pure-button button-secondary" href="{{ game['link'] | e }}">Join!</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}