{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create a new Party{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-page clearfix">
        <div class="logged-in-box auth0-box logged-in">
            <form method="POST" action="/party/new">
                {{ form.csrf_token }}
                {{ form.gamename.label }} {{ form.gamename(size=20) }}
                <input class="pure-button pure-button-primary" type="submit" value="Create party!">
            </form>
        </div>
    </div>
</div>
{% endblock %}